h4 {
    color: #cccccc;
    padding: 20px;
}

body
{
    background-image: url('bg2.jpg');
}
h1
{
   color: #c0c0c0
}
h2
{
   color: #c0c0c0
}
p
{
   color: #c0c0c0
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}