{% extends "base.html" %}

{% block content %}
<h1>Добавление жанра</h1>
<form class="login_form" method="post" enctype="multipart/form-data">
    <div class="form-group">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
</form>
{% endblock %}