{% extends "base.html" %}


{% block content %}
 <h1>Library</h1>
 {% for item in books%}
 <h2>Book №{{item.id}}</h2>
    <table class="table table-bordered">
   <thead>
     <tr class="table-info">
       <th scope="col">Author</th>
       <th scope="col">Title</th>
       <th scope="col">Date</th>
       <th scope="col">Cover</th>
       <!--<th scope="col">Is finished можно сделать остаток на складе</th>-->
     </tr>
   </thead>
   <tbody>
     <tr class="table-warning">
         <td>{{names[loop.index0]}} {{surnames[loop.index0]}}</td>
       <td>{{item.title}}</td>
       <td>{{item.date}}</td>
       <td><img src="/static/img/book{{loop.index}}.jpg"></td>
     </tr>
   </tbody>

 </table>
{% if current_user.is_authenticated and current_user.id == 1 %}
    <div>
        <a href="/books/{{ item.id }}" class="btn btn-warning">Изменить</a>
        <a href="/books_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
    </div>
     {% endif %}
{% endfor %}

{%endblock%}