{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в наш книжный магазин!</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        <select class="custom-select" id="classSelect" name="req">
          <option>Вывод пользователей (введите users)</option>
          <option>Книга(введите название)</option>
          <option>Автор(введите имя и фамилию)</option>
        </select>
        {{ form.message.label }}<br>
        {{ form.message(class="form-control") }}<br>
        {% for error in form.message.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <h1>{{ warning }}</h1>
</form>

{%endblock%}