{% extends "base.html" %}

{% block content %}
<form action="" method="post">
{{ form.hidden_tag() }}
{{ form.csrf_token }}

{{ form.minimum.label }}<br>
{{ form.minimum(class="form-control") }}<br>
{% for error in form.minimum.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
{% endfor %}

    {{ form.maximum.label }}<br>
{{ form.maximum(class="form-control") }}<br>
{% for error in form.maximum.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
{% endfor %}
    <h3>{{ message }}</h3>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{%endblock%}